.app-wrap{
  width: 80%;
  margin: auto;
  border: 1px solid red;
}

@media screen and (max-width: 600px) {
  .app-wrap{
    width: 100%;
    margin: auto;
  }
}
.dropdown:hover>.dropdown-menu{
  display: block;
}

.dropdown-menu-block{
  position: static;
}

.dropdown-mega-menu-block{
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  border: 0px ;
}

.dropdown-toggle::after {
  content: none;
}

.footerClass {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}